body {
  background: #ededff;
}

.container {
  margin: 80px auto 0 auto; max-width: 750px;  align-content: center;
}
.content > div {
  display: flex;
}
.content form {
  width: 40%;
}
.content #galeria {
  display: flex; flex-direction: column; width: 60%;
  background: orangered;
}
.content #galeria img {
  max-width: 100%;
  height: auto;
}
.content form label {
  font-size: 14px; color: #444; margin-bottom: 8px;
}
.content form input {
  margin-bottom: 20px; border: 1px solid #ddd; border-radius: 2px; height: 40px; padding: 0 15px; font-size: 14px;
}
.content button.btn {
  border:none; border-radius: 2px; height: 42px; padding:0 20px; width: 100%;
  font-size: 16px; font-weight: bold; background: #4a89dc; color: white; cursor: pointer;
}