@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {margin:0;padding:0;outline:0;box-sizing: border-box}
html, body, #root {min-height: 100%}

body {
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
  width: 100%; display: flex;
}

.content {
  background: white; border-radius: 5px; margin-top: 50px; width: 100%;
}
.content h1 {
  font-size: 30px; line-height: 30px; margin-bottom: 30px;
}
.content form {
  display: flex; flex-direction: column; width: 100%; padding: 30px;
}
.content .shadow {
  box-shadow: 0 10px 10px -5px #CCC;
}
